<h1>All Articles</h1>
<ul>
  <% @articles.each do |article| %>
    <%= link_to article_path(article[:id]) do %>
      <li><%= article.title %></li>
    <% end %>


  <% end %>
</ul>

<%= link_to "New Article", new_article_path %>
