<h1 class="text-white">All Articles</h1>
<div class="list-group">
  <% @articles.each do |article| %>
      <%= link_to article_path(article[:id]), class: "d-flex justify-content-between text-decoration-none list-group-item list-group-item-action" do %>
        <%= article.title %> <i class="fa-solid fa-pen-to-square"></i>
      <% end %>
  <% end %>
</div>
